
.query {
    font-size: 30px;
    margin: auto;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
}

.res {
    margin: 30px;
    font-size: 22px;
}

.res-link{

}

.res-title{

}

.res-snippet {

}